@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"Azeret Mono", monospace;
}
html {
    scroll-behavior:smooth;
}
/* nav styles start here  */
#nav-section{
    height: 131px;
    max-width: 1237px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:35px 166px 35px 35px ;
  
}
#nav-section h4{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;

}
#nav-section button{
    width: 250px;
    height: 58px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 500; 
    cursor: pointer;  
}
/* nav styles ends here  */

/* hero section starts here  */
.hero-section-container{
    margin: 0 auto;
    max-width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img{
    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;  
}
.hero-headings {
    width: 998px;
    height: 310px;

}
.hero-headings h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.hero-headings p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}
.hero-btn{
    width: 243px;
    height: 66px;
    margin-bottom: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
 
}
  .hero-btn button{
    border: none;
    margin: 32px 0px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    
  }
  .hero-btn button a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
  }
/* hero section ends here  */

/* why development styles start here  */
.development-container{
    width: 946px;
    height: 1235px;
    margin: 0 auto;
    margin-top: 154px;
   
}
.development-heading{
    width: 852px;
    height: 115px;
    text-align: center;
    margin-bottom: 48px;
}
.development-heading h1{
    color: rgb(13, 19, 33);
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 24px;
}
.development-heading p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;


}
.development-card{
    max-width: 946px;
    height: 336px;
    padding: 48px;
    gap:98.83px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.card-head-btn{
    max-width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.card-head-btn h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}
.card-head-btn p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}
.card-head-btn button{
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    border: none;
}
#dev-card-2{
    flex-direction: row-reverse;
}
/* why development styles end here  */

/* inspiration style start here  */
.inspiration-container{
max-width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 200px;
    
}
.inspiration-heading{
    max-width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}
.inspiration-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;  
}
.inspiration-heading  p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;

}
.inspiration-video{
    max-width: 1140px;
    height: 614px;
    margin-top: 48px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inspiration-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}
/* inspiration style end here  */
/* current target style start here  */
.current-target-container{
    max-width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
}
.target-heading {
    max-width: 852px;
    height: 37px;  
    margin: 0 auto;
    text-align: center;

}
.target-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.target-heading p{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.target-card-container{
    margin-top: 140px;
    max-width: 1140px;
    height: 299px; 
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.target-card{
    max-width: 364px;
    height: 299px;
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.target-card h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    }

    .target-card p{
        opacity: 0.7;
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
    }
    .target-card a{
        width: 284px;
        height: 19px;
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 700;
        text-decoration-line: underline;
        cursor: pointer;
    }
    .css{
    background: rgba(0, 76, 232, 0.05);
    }
    .js{
        background: rgba(255, 223, 0, 0.05);
    }
/* current target style end here  */
/* support style start here  */
.support-section{
    max-width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 149px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 79px;
}
.support-container{
    max-width: 1044px;
    height: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 48px 64px 48px;

}
.support-heading{
    max-width: 730px;
    height: 104px;
    text-align: center;
    margin-bottom: 24px;
}
.support-heading h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;

}
.support-heading p{
    width: 606px;
    height: 52px;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
}
.support-form{
    width: 684px;
    height: 58px;
    display: flex;
justify-content: center;
    gap: 16px;
}

.support-form input[type="text"]{
    width: 548px;
    height: 57px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.support-form input[type="submit"]{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 255, 255); 
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    padding: 19px 20px 19px 20px;
}

/* support style end here  */

/* .information style start here  */
.developer-info{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
}
.dev-links{
    display: flex;
    justify-content: space-evenly;
    width: 157.01px;
    height: 36px;
}
/* .information style end here  */